<template>
    <div>
        <p>{{ msg }}</p>
    </div>
</template>


<script>
export default {
    name: "Shark",
    data() {
        return {
            msg : "Hello, this is Shark!"
        };
    }
};
</script>